body{
    background: #1977cd;
    color: #fff;
    font-family: Helvetica, Verdana, sans;
}

#page {
    width: 960px;
    margin: 0 auto;
}

#logo {
    float: left;
}

#contact {
    float: right;
}

.clear {
    clear: both;
}

#logo, .primary, .tile{
    float: left;
}

.tile{
    position: relative;
    min-height: 230px;
    width: 200px;
    background: #fff;
    color: #111;
    font-size: 0.8em;
    text-align: center;
    margin: 0 20px 20px 0;
    padding: 10px 10px 50px 10px;
    border-radius: 10px;
}

.tile p span{
    font-weight: bold;
}

.tile a{
    display: block;
    position: absolute;
    width: 120px;
    bottom: 16px;
    left: 40px;
    padding: 8px 10px;
    background-color: #0a67d4;
    color: #fff;
    border-radius: 10px;
    font-size: 1.2em;
    text-decoration: none;
}

.tile h2{
    height: 44px;
}

#contact, .secondary {
    float: right;
}

.primary {
    width: 720px;
}

.secondary {
    width: 240px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 5px 1em;
}

nav ul li:last-child {
    float: right;
}

.hidden{
    display: none;
}